.homeBtn {
  display: felx;
  text-decoration: none;
  height: 8vh;
  width: 10vw;
  background-color: crimson;
  color: white;
  border-radius: 10px;
  position: absolute;
  text-align: center;
  align-items: center;
  justify-content: center;
  top: 7vh;
  left: 45vw;
  font-weight: bold;
  font-size: large;
}

.btnText {
  width: auto;
  height: auto;
  margin-top: 15%;
}

@media only screen and (max-width: 768px) {
  .homeBtn {
    width: 30vw;
    padding: 3%;
    top: 10vh;
  }
}

.headerTag {
  text-align: center;
  position: absolute;
  top: 14vh;
  left: 36vw;
}

.headerTag::first-letter {
  text-transform: uppercase;
}

.sectionContent {
  display: block;
  display: flex;
  flex-wrap: wrap;
  background-color: #5800ff;
  position: relative;
  top: 20vh;
  left: 2vw;
  list-style: none;
  width: 95vw;
  height: auto;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  justify-content: center;
}
